<!DOCTYPE html>
<html>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
<body style="background-image: url('../css/login_background.jpg'); margin-top:60px;">

<div class="container" ng-app="myApp" ng-controller="customersCtrl" style="width:600px;background:#fff;">
	
	<h3 class="col-md-10">Security Questions</h3></br>
	<label class="col-md-10" style="color:red;">(Please choose 3 security question)</label>
	
		<div class="col-md-12" ng-repeat="val in values" style="padding-bottom:20px;">
			<input  type="checkbox" name="question[]" value="{{val.question}}" 
				ng-click="selectQuestion(val)">
			<label>{{val.question}}</label><br>
			<input type="text" ng-show="val.selected" ng-model="val.answer" 
				name="answer[]">
		</div>
	
		<div>
			<button type="button" class="btn btn-success col-md-3" style="margin-top:50px;margin-bottom:50px;" ng-click="saveQuestions()">Save</button>
			<label class="col-md-8"></label>
		</div>
	
</div>



<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http, $location, $window) {	
	
	$scope.hasSelected = [];
	$scope.disabled = false;
	
	$scope.saveQuestions = function(){		
		angular.forEach($scope.values, function(val){
			if(val.selected){
				$scope.hasSelected.push(val);				
			}	
		});
		console.log("size: "+$scope.hasSelected.length);
		
		if($scope.hasSelected.length != 3){
			alert("you must choose 3 questions");
			$scope.hasSelected = [];
		}else if($scope.hasSelected[0].answer==null || $scope.hasSelected[0].answer == "" ||
			$scope.hasSelected[1].answer==null || $scope.hasSelected[1].answer == "" ||
			$scope.hasSelected[2].answer==null || $scope.hasSelected[2].answer == "" ){
			alert("answer cannot be empty");
			$scope.hasSelected = [];
		}else{
			
			if($scope.checkAnswer()){
				$.ajax({
   		 			type: 'POST',
    				url: '../ser/saveQuestion.php',
    				data: {'values': $scope.hasSelected},
    				success: function(msg) {    				
      					alert("Congratuations, please login again");
      					window.location.href = "../Login.html";
    				}
  				});	
			}else{
				$scope.hasSelected = [];
			}			
		};
		
	}

	$scope.checkAnswer = function(){
		var monthReg = "^[1-9]$|^1[0-2]$";
		var otherReg = "^\\d{4}$";		
		for(var i=0;i<$scope.hasSelected.length;i++){
			var val = $scope.hasSelected[i];
			if(val.question.indexOf("month")>=0 && !val.answer.match(monthReg)){
				alert("the month answer must be an integer between 1 to 12");
				return false;				
			}
			if(val.question.indexOf("year")>=0 && !val.answer.match(otherReg)){
				alert("the year answer must be typed as a four digit integer");
				return false;				
			}
			if(val.question.indexOf("phone number")>=0 && !val.answer.match(otherReg)){
				alert("the phone number answer must be a four-digit integer");
				return false;				
			}
		}		
		return true;		
	}

   	$scope.selectQuestion = function(val){
   	   	val.selected = !val.selected;   		
	}
	
   	$http.get("../dao/getAllQuestions.php")
   	.then(function (response) {
		   $scope.values = response.data.records;
		   $scope.dataSize = $scope.values.length;
	   	});
});
 

</script>

</body>
</html>