body {
    background-image: url("login_background.jpg");
    background-attachment: fixed;
}

#firstContainer	{
	padding-top: 200px;
}
#firstSmallContainer	{
	padding-top: 100px;
}
#nodeContainer{
	padding-top: 50px;
    width: 500px;
}