#mynetwork {
	align-content: center;
	background-color: FloralWhite;
	height: 500px;
	border: 1px solid lightgray;

}
.well	{
	width: 500px;
}

#innerWell	{
	padding-top: 30px;
	width: 400px;
}

#messageForm  {
	border: 5px solid lightgray;
}

.label	{
	align-content: left;
}

#logout  {
/*	color: red;*/
}

#secondContainer	{
	background-color: LightSkyBlue;
	border: 1px solid black;
	padding-bottom: 20px;
	padding-top: 10px;
}

#thirdContainer	{
	padding-bottom: 50px;
}

#from 	{
	width: 70px;
	align-content: center;
}

#to 	{
	width: 70px;
	align-content: center;
}