#mynetwork {
	align-content: center;
	background-color: FloralWhite;
	height: 500px;
	border: 1px solid lightgray;

}
.well	{
	width: 500px;
}

#innerWell	{
	padding-top: 30px;
	width: 400px;
}

#messageForm  {
	border: 5px solid lightgray;
}

#addEdge  {
	display: none; 
	position: absolute; 
	z-index: 1000; 
	border: 5px; 
	left: 35%;
	top: 20%; 
	z-index: 9; 
	background:#80b3ff; 
	width: 40%;
}

#activeNodeDiv  {
	display: none;position: absolute; left: 35%;top: 25%;z-index: 9; background: #80b3ff;width: auto;
}

#singleMessageDiv  {
	display: none;position: absolute; left: 35%;top: 25%;z-index: 9; background: #80b3ff;width: auto;
}

#messageDiv  {
	display: none; position: absolute; left: 35%;top: 25%; z-index: 9; background: #80b3ff;width: auto;
}

#addNode  {
	display: none; position: absolute; border: 5px; left: 35%;top: 20%; z-index: 9; background:#80b3ff; width: 40%;
}

#sendMessage  {
	display: none; position: absolute; left: 35%;top: 25%; z-index: 9; background:#80b3ff;width: 50%;
}

.side-btn  {
	width: 90%;
}

.label	{
	align-content: left;
}

#buttonSection  {
	float: left;
	width: 250px;
}

#logout  {
/*	color: red;*/
}

#secondContainer	{
	background-color: LightSkyBlue;
	border: 1px solid black;
	padding-bottom: 20px;
	padding-top: 10px;
}

#thirdContainer	{
	padding-bottom: 50px;
}

#from 	{
	width: 70px;
	align-content: center;
}

#to 	{
	width: 70px;
	align-content: center;
}